.user-title {
  margin-left: 15px;
}

.techs {
  font-size: small;
  color: rgb(71, 71, 71);
}

#app {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

aside{
    margin-right: 40px;
}